.sidebox {
  float: right;
  width: 300px;
  margin-right: 150px;
  border: 1px solid #999;
}
.categoryBox {
  display: flex;
  height: 90px;
}
.icon {
  color: grey;
  font-size: 25px;
  width: 50px;
  margin: auto;
}
.clockOpen {
  color: red;
}
.contentBox {
  display: flex;
  flex-direction: column;
  align-content: center;
  font-size: 15px;
  width: 250px;
  color: #333;
  margin: auto;
}